%body

  .title
    Boutique Elevee
  .image
    .slider
      #yuki.yukiTorii
        = image_tag "yukitorii1.jpg",id: 1
        = image_tag "yukitorii2.jpg",id: 2
        = image_tag "yukitorii3.jpg",id: 3
      .topimg
        = image_tag "top.JPG"
      .topimg
        = image_tag "top2.JPG"
      .topimg
        = image_tag "top_5.jpg"
      .topimg
        = image_tag "top_4.JPG"

  .itemss
    Blands
    .itemsss
      .oyuki
        YUKI TORII
      .hanae_Mori
        HANAEMORI
      .idem
        IDEM
      .jion
        ㈱ジオン商事Chamois
      .satto
        サットナーム
      .nubel
        nubel
    .photos
    .photos
    .photos
    .photos
    .photos
    .photos



