- @shops.each do |shoper| 
  お名前：
  = shoper.name 
  カナ：
  = shoper.kana
  電話番号：
  = shoper.phone_number
  メールアドレス：
  = shoper.mail

  郵便番号：
  = shoper.adress_number
  お届け先：
  = shoper.adress
  商品番号：
  = shoper.number
  %p

