<%= form_for @exhibition,url:new_shop_path,local:true  do |f| %>


  <%= f.fields_for :images do |image| %>
   
    <%= image.file_field :src ,id: :profile_contents %>

<div class = name>
  商品名
  <%= f.text_field :name %>
  </div>

  <%= f.text_field :price %>

  <%= f.text_field :explain %>

    
  <%= f.submit %>
  <%end%>
<% end %>