= form_for @product do |f|
  商品名#{f.text_field :name}
  %br/
  価格#{f.number_field :price}
  %br/
  商品説明#{f.text_field :explain}
  %br/
  商品番号#{f.text_field :number}

  %br/
  = f.fields_for :images do |i|
    = i.file_field :src
    %br/
  = f.submit
