

.items
  - product.images.each do |image|
    = image_tag image.src.url
    .name
      商品名：#{product.name}
    .explain
      商品説明：#{product.explain}
    .price
      ¥ #{product.price}
    .number
      商品番号（※商品を購入する際、必ず必要になるため、控えておいてください）
       ¥ #{product.number}
    = link_to '詳しく見る', product_path(id:product)
