<% product.images.each do |image| %>
<div class = "title">
  shop

  <div class = "itemsBox">
    <div class = "clothes">
    
      <div class = "kind">
        <div class = itemImage>
          <%= image_tag image.src.url %>
        </div>
        <div class = "name">
          <p><%= product.name %></p>
        </div>
        <div class = explain>
          <p><%= product.explain %>円</p>
        </div>

        <div class = "price">
          <p><%= product.price %>円</p>
        </div>
      
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>

        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      
      </div>
    </div>
    <div class = "clothes">
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>

    </div>
    <div class = "clothes">
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>

    </div>
    </div>
  <% end %>
</div>