<div class="content">
  <p><%= product.name %></p>
  <p><%= product.price %>円</p>
  <p><%= product.explain %>円</p>
  <% product.images.each do |image| %>
    <%= image_tag image.src.url %>
  <% end %>
</div>





<div class = "title">
  shop
  <div class = "itemsBox">
    <div class = "clothes">
    
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        <div class = explain>
          商品説明<br>
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>

        <div class = "price">
          105$
        </div>
      
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>

        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      
      </div>
    </div>
    <div class = "clothes">
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>

    </div>
    <div class = "clothes">
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>
      <div class = "kind">
        <div class = itemImage>
          <%=image_tag 'yukitorii1.jpg',id: 1, height: '300px',width:'250px'%>
        </div>
        
        <div class = explain>
          商品説明
        </div>
        <div class = "price">
          105$
        </div>
      </div>

    </div>
  </div>
</div>