
.item_s
  .a
    - @product.images.each do |image|
      = image_tag image.src.url
    .ab
      %p
        商品名：#{@product.name}
      %p
        商品説明：#{@product.explain}
      %p
        商品価格：#{@product.price}
      %p
        商品番号：#{@product.number}番（※商品を購入する際、必ず必要になるため、控えておいてください）
  .a
  = form_tag(action: :pay, method: :post) do
    :plain
    %script{type: "text/javascript", src: "https://checkout.pay.jp", class:"payjp-button", "data-text": "購入する", "data-key": "pk_test_6c62395ff5328b141cf685a4"}




