  <head>
    <title>B_Eleve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/scss" href="slick.scss" media="screen" />
    <link rel="stylesheet" type="text/scss" href="slick-theme.scss" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="slick.min.js"></script>
   
  </head>


  <body>
    <div class = "wrapper">
      <div class = "headBox">
        <div class = "whiteBox">
          <div class = "font">
            <%= link_to (image_tag 'rogo.jpg',class:'rogo'),root_path%>

            <ul><%= link_to "message", message_index_path ,class:'consept'%></ul>
            <ul><%= link_to "shop", product_path ,class:'consept'%></ul>
            <ul><%= link_to "access&link", link_index_path ,class:'consept'%></ul>
            <ul><%= link_to "private", new_shop_path,class:'consept'%></ul>
          </div>
        </div>
      </div>
    <%= yield %>
  </body>
<%# <footer>
  COPYRIGHT © Boutique Eleviee 2020. ALL RIGHTS RESERVED.Powered by Atsushi Iida 2020
</footer> %>
    </div>


</html>
