%head
  %title B_Eleve
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  
  %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
  %script{:src => "./footerFixed.js", :type => "text/javascript"}


%body
  .wrapper
    .headBox
      .whiteBox
        .font
          = link_to (image_tag 'rogo.jpg',class:'rogo'),root_path
          %ul= link_to "message", message_index_path ,class:'consept'
          %ul= link_to "shop", products_path ,class:'consept'
          %ul= link_to "access&link", link_index_path ,class:'consept'
          .casts 
            .cc cast only
            %ul= link_to "private", new_product_path,class:'cast'

          
  
    = yield
  #footer COPYRIGHT © elevee 2020. ALL RIGHTS RESERVED.Powered by Atsushi Iida 2020

